@model IEnumerable<SinExWebApp20317203.Models.ServicePackageFee>

@{
    ViewBag.Title = "Service Package Fee";
}

<h2>Service Package Fee</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PackageType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumFee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PackageType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumFee)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServicePackageFeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServicePackageFeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServicePackageFeeID })
        </td>
    </tr>
}

</table>
